
body {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

/* Başlık alanı */
.title-wrapper {
  padding: 0 5%;
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  #title {
    font-size: 32px;
    line-height: 43px;
  }
}

/* Header */
.header {
  overflow: hidden;
  background-color: black;
  padding: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  background-color: black;
}

.header img {
  width: 200px;
  height: 70px;
  font-weight: bold;
}

.header a.active {
  background-color: rgb(2, 15, 197);
  color: white;
}

.header-right {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-right {
    flex-direction: column;
    width: 100%;
  }

  .header a {
    width: 100%;
  }
}

/* Main alan */
main {
  background-color: #f4f4f4;
  padding: 2rem 0;
}

/* Slider genel kapsayan div */
.slide-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 5%;
  overflow: hidden;
  flex-wrap: nowrap;
}

.arrow {
  width: 2rem;
  cursor: pointer;
}
/*Ürünlerin listelendiği yer*/
section.container {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  scroll-behavior: smooth;
  padding: 10px 0;
  cursor: pointer;
}

section::-webkit-scrollbar {
  height: 8px;
}
section::-webkit-scrollbar-thumb {
  background-color: #f4f4f4;
  border-radius: 4px;
}
/* resim boyutu ve hover mevzusu */
.thumbnail {
  flex: 0 0 auto;
  width: 210px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  overflow: hidden;
  transition: transform 0.3s;
}

.thumbnail:hover {
  transform: scale(1.02);
}

.thumbnail img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
/* Fiyat ve ürün isminin olduğu yerler */
.product-details {
  text-align: left;
  padding: 5px;
  background-color: #fff;
}

.product-details h2 {
  font-size: 1rem;
  font-weight: 100;
  margin: 5px 0;
  height: 54px ;
}

.product-details p {
  font-size: 1.1rem;
  font-weight: 600;
  color: #193db0;
  margin: 0;
}

/* Footer Alanı */
footer {
  margin: 0 auto;
  margin-top: 2%;
} 

 footer img{
  width: 100%;
 }

.thumbnail {
  position: relative; /* ÖNEMLİ: içinde mutlak konumlandırma yapılabilmesi için */
}

/* FAVORİYE ALMA İŞLEMLERİ */
.favourite {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  color: #fff;
  transition: color 200ms;
  z-index: 10;
  border: 1px solid #bebebe;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #fff;
}

.favourite svg{
  margin-top: 0.1rem ;
}

.favourite svg path {
  transition: fill 0.2s, stroke 0.2s;
}

.favourite.active svg path {
  fill: #193db0;     
  stroke: #193db0;   
}

@keyframes fav {
  70% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
